body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.mind-map {
    display: inline-block;
    text-align: left;
    padding: 20px;
    margin: 20px;
}

.node {
    list-style: none;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    margin: 10px;
}

.node-title {
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 0;
}

.node-description {
    margin: 0;
    padding: 0;
}

.child-nodes {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.pollution {
    background-color: #FF5733; /* Vermelho */
}

.chemicals {
    background-color: #339CFF; /* Azul */
}

.waste {
    background-color: #33FF57; /* Verde */
}

.plastics {
    background-color: #FFD633; /* Amarelo */
}
